<h2 class="title">Login Form</h2>

<div class="shadow-lg p-3 mb-5 bg-body rounded card">
  <div class="container">
    <div [formGroup]="loginForm">

      <div class="form-group div">
        <label for="exampleInputEmail1">Email address</label>
        <input [class.is-valid]="!loginForm.controls['Email'].errors" formControlName="Email" type="email"
          class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        <div
          *ngIf="loginForm.controls['Email'].errors && (loginForm.controls['Email'].touched || loginForm.controls['Email'].dirty)">
          <small *ngIf="loginForm.controls['Email'].errors?.['required']" class="form-text text-danger">Email required
          </small>
          <small *ngIf="loginForm.controls['Email'].errors?.['email']" class="form-text text-danger">you must enter
            email</small>
        </div>

      </div>

      <div class="form-group div">
        <label for="exampleInputEmail1">Password</label>
        <input [class.is-valid]="!loginForm.controls['Password'].errors" formControlName="Password" class="form-control"
          type="password" id="password" name="password" #passwordField placeholder="Enter Password">
        <div
          *ngIf="loginForm.controls['Password'].errors && (loginForm.controls['Password'].touched || loginForm.controls['Password'].dirty)">
          <small *ngIf="loginForm.controls['Password'].errors?.['required']" class="form-text text-danger">Password
            required
          </small>
          <small *ngIf="loginForm.controls['Password'].errors?.['minLength']" class="form-text text-danger">Password
            must be at least 5 characters long</small>
        </div>

      </div>
      <input type="checkbox" id="showPassword" (click)="togglePasswordVisibility()">
      <label for="showPassword">Show Password</label>

      <button [disabled]="loginForm.invalid" (click)="login()" type="button"
      routerLink="/products" class="btn btn-primary button">Submit</button>
      <!-- routerLink="/students" -->

    </div>
  </div>
</div>



<!-- <div class="form-group div">
          <label for="exampleInputPassword1">Mobile</label>
          <input [class.is-valid]="!loginForm.controls['Mobile'].errors" formControlName="Mobile"  type="text" class="form-control" id="exampleInputPassword1" placeholder="Mobile">
          <div *ngIf="loginForm.controls['Mobile'].errors && (loginForm.controls['Mobile'].touched || loginForm.controls['Mobile'].dirty)">
            <small *ngIf="loginForm.controls['Mobile'].errors?.['required']"  class="form-text text-danger">required mobile</small>
            <small *ngIf="loginForm.controls['Mobile'].errors?.['pattern']"  class="form-text text-danger">you must enter mobile</small>
          </div>
        </div> -->
<!-- <div class="form-group div" >
          <label for="exampleInputPassword1">NationalID</label>
          <input [class.is-valid]="!loginForm.controls['NationalID'].errors" formControlName="NationalID"  type="text" class="form-control" id="exampleInputPassword1" placeholder="NationalID">
          <div *ngIf="loginForm.controls['NationalID'].errors && (loginForm.controls['NationalID'].touched || loginForm.controls['NationalID'].dirty)">
            <small *ngIf="loginForm.controls['NationalID'].errors?.['required']"  class="form-text text-danger">required NationalID</small>
            <small *ngIf="loginForm.controls['NationalID'].errors?.['minLength']"  class="form-text text-danger">must be bigger than 10</small>
          </div>
        </div> -->

<!-- <div class="form-group div" >
          <label for="exampleInputPassword1">Age</label>
          <input [class.is-valid]="!loginForm.controls['Age'].errors" formControlName="Age"   type="text" class="form-control" id="exampleInputPassword1" placeholder="Age">
          <div *ngIf="loginForm.controls['Age'].errors && (loginForm.controls['Age'].touched || loginForm.controls['Age'].dirty)">
            <small *ngIf="loginForm.controls['Age'].errors?.['required']"  class="form-text text-danger">required age</small>
            <small *ngIf="loginForm.controls['Age'].errors?.['minlength']"  class="form-text text-danger">must by bigger than 18</small>
          </div>
        </div> -->