<div class="container">
    <div class="card" style="width: 70rem;">
        <div class="card-header">
          Hello {{name}} you have {{getPendingTasksCount()}} pending tasks
        </div>
        <div class="row">
            <div class="col-md-8">
                <input type="text" #inputTitle (keyup.enter)="add(inputTitle.value);inputTitle.value='';" placeholder="add your task" class="form-control">
            </div>
            <div class="col-md-4">
                <button type="button" (click)="add(inputTitle.value);inputTitle.value='';"  class="btn btn-primary" routerLink="/tasks">ADD</button>
            </div>
        </div>
      <div class="row">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tasks;let currentIndex=index" >
                <th scope="row"> {{currentIndex+1}}</th>
                <td>
              <a routerLink="/tasks/details/{{item.ID}}">{{item.Title}}</a>  
                  </td>
                <td>
                    <input type="checkbox" [value]="item.IsDone" (change)="update(item)" >
                </td>
                <td> 
                    <button (click)="delete(currentIndex)"  class="btn btn-danger" routerLink="/tasks">DELETE</button>
                </td>
              </tr>
            
            </tbody>
          </table>
      </div>
      </div>
</div>
